In [1]:
import pandas as pd
from sklearn.metrics import f1_score

In [2]:
lgb=pd.read_csv('LGBM_Submission.csv').drop(['employee_id'],axis=1)
cb=pd.read_csv('CB_Submission.csv').drop(['employee_id'],axis=1)

new=pd.concat([lgb , cb], axis=1)
new.columns=['lgb', 'cb']
new.head()

        lgb        cb
0  0.156480  0.092218
1  0.001227  0.000763
2  0.000647  0.000133
3  0.001791  0.000982
4  0.002116  0.000765

In [3]:
new.corr()

          lgb        cb
lgb  1.000000  0.977545
cb   0.977545  1.000000

In [4]:
new['final']= 0.4*new['lgb']+ 0.6*new['cb']
new.head(20)

         lgb        cb     final
0   0.156480  0.092218  0.117923
1   0.001227  0.000763  0.000948
2   0.000647  0.000133  0.000338
3   0.001791  0.000982  0.001305
4   0.002116  0.000765  0.001305
5   0.002878  0.001840  0.002256
6   0.111782  0.092135  0.099994
7   0.019262  0.031489  0.026598
8   0.002962  0.003643  0.003371
9   0.235831  0.223118  0.228203
10  0.152002  0.113906  0.129144
11  0.000682  0.000183  0.000383
12  0.001274  0.000779  0.000977
13  0.024635  0.013482  0.017943
14  0.084110  0.072286  0.077016
15  0.223839  0.218986  0.220928
16  0.002514  0.001811  0.002092
17  0.104235  0.145562  0.129031
18  0.102675  0.095601  0.098431
19  0.003122  0.001631  0.002227

In [5]:
new['final']=new['final'].apply(lambda x:1 if x>0.28 else 0)

In [6]:
new['final'].value_counts()

0    22412
1     1078
Name: final, dtype: int64

In [7]:
test=pd.read_csv('test.csv')
Submission = pd.DataFrame({ 'employee_id': test['employee_id'],
                            'is_promoted':new['final']})
Submission.to_csv("Final_Submission.csv", index=False)